@using WepTableWork2019
@using WepTableWork2019.Peoples
@model People
<html>
<head>
    <link href="~/css/StylePeople.css" rel="stylesheet" type="text/css" />
    <title>
        Страница с данными о сотруднике
    </title>
</head>
<body>
    
    <div class="Main_boby">
        <div class="Main_boby__Main_text">
            Полная информация о работнике
        </div>
        <div class="Main_boby__Inf_text">
            <div class="Main_boby__Inf_text__td">Айди работника - @Model.ID</div>
            <div class="Main_boby__Inf_text__td">Фамилия работника - @Model.Surname</div>
            <div class="Main_boby__Inf_text__td">Имя работника - @Model.Name</div>
            <div class="Main_boby__Inf_text__td">Отчество работника - @Model.Lastname</div>
            <div class="Main_boby__Inf_text__td">Номер телефона работника - @Model.Phone</div>
            <div class="Main_boby__Inf_text__td">Адрес работника - @Model.Adress</div>
            <div class="Main_boby__Inf_text__td">О работнике - @Model.Description</div>
        </div>
        <div class="Main_boby__Link_list">
            <a href="/WorkerFull/Index">Перейти обратно к таблице с пользователями</a>
        </div>
    </div>
    
</body>
</html>
